body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
    overflow: scroll;
  }

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
  }

#rippleCanvas {
    width: 50vw;
    height: 65vh;

}

.container {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 display: flex;
 flex-direction: column;
 align-self: baseline;
 height: auto;
 align-items: flex-start;
}