/* @font-face {
    font-family: "bradfordMedium";
    src: url("../resource/BradfordLL-Medium.otf");
} */

body {
    margin: 8vw;
    background-color: rgb(233, 233, 233);
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: inherit;
    /* overflow: hidden; */
}

.body-about,.body-intern,.body-links{
    overflow: hidden;
}
.body-me,.body-background, .body-things{
    overflow-x:hidden;
    overflow-y: auto;
}

.body-links {

}

a:visited {
    color: black;
    text-decoration: none;
}

p, pre {
    width: 84%;
    font-size: 2.5vh;
    /* background-color: rgb(255, 0, 0); */
    font-family: 'Courier New', Courier, monospace !important;
    color: hwb(0 0% 100%);
}

.enter {
    text-align: end;
}

.no:hover {
    display: none;
}
.no:hover ~ .yes{
    display: inline;
}
.yes {
    display: none;
}


.clickable {
    text-decoration: none;
}
.clickable:hover {
    background-color: yellow; 
}

.container {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
    width: 84%;
    align-items: flex-end;
    gap: 5vw;
}

#huey:hover {
    /* background-color: blue; */
}

.me {
    background-color: white;
    padding: 2vw;
    width: 80%;
}
