.typebody {
    margin: 3vw;
    /* background-color: bisque; */
    background-color: lightgray;
}
.typecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
img {
    width: 5vw;
    filter: grayscale(100%);
}
img:hover {
    filter: grayscale(4%);
}
